{% extends "base.html.twig" %}
{% block body %}
    <h1>Vos Contacts</h1>
    <title>Vos contacts</title>
    <ul>
        {% set i = 0 %}
        <form action="/contact/delete" method="post">
            {%  for contact in liste %}
                <input type="checkbox" name="supprimer[]" value="{{ i }}"/>
                <a href="/contact/display/{{ i }}">
                    <div>
                        <li>{{ contact.getNom() }}</li>
                        <li>{{ contact.getPrenom() }}</li>
                        <li>{{ contact.getTel() }}</li>
                        <li>{{ contact.getEmail() }}</li>
                        <li>{{ contact.getMobile() }}</li>
                     </div>
                </a>
                <br/>
                {% set i = i+ 1 %}
            {% endfor %}
            <input type="submit" name="supprimerPlusieurs" value="Supprimer les contacts"/>
        </form>
    </ul>
    <form action="/contact/search" method="post">
        <input type="text" name="filtre"/>
        <input type="submit" name="filtrer" value="Filtrer"/>
    </form>
    <a href="/contacts">Retour à la liste des contacts</a>
    <a href="/contact/new">Ajouter un contact</a>
{% endblock %}
